h1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    color: white;
}

h3 {
    font-style: bold;
    color: white;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: black;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

body {
    background-color: black;
}

img {
    height: 400px;
}

ul {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

ol {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

b {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.fromtheright {
    right: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textleft {
    text-align: left;
}